.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem;
  gap: 2rem;  
  min-width: 500px;
}


.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  gap: 1rem;
  min-width: 500px;
}


.orders {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
  background-color: black;
  color: white;
  padding: 1rem;
  min-width: 500px;
}

.order {
  display: flex;
  gap: 12px;
  background-color: white;
  color: black;
  padding: 12px 0px;

}

.headers {
  display: flex;
  gap: 12px;
  background-color: blueviolet;
  color: white;
}

.order-number, .order-product, .order-price, .order-quantity, .order-total {
  width: 5rem;
}

.width {
  width: 5rem;
}



.responsive {
  display: flex;
  gap: 12px;
  
}

@media screen and (max-width: 480px){
  .responsive { 
    flex-direction: column;
  }
}